*{
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 1000px;
    margin: 0 auto;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
ul{
    list-style-type:none;
}
a{
    text-decoration: none;
}
header{
    background-color: #191919;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    height: 90px;
    align-items: center;
    border-bottom: 5px solid #df6f15 ;
    
}
.nav_menu{
    display: flex;
    justify-content: space-between;
}
.nav_menu ul{
    
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    list-style-type:none;
    
}
.nav_menu li {
    border-right: 2px solid #df6f15;
    padding-right: 20px;
}
.nav_menu li:last-child {
    border: none;
  }
.nav_menu a {
    color: white;
}
header .container{
    display: flex;
    justify-content: space-between;
}
.computer-services .container{
    display: flex;
    justify-content: center;
}
.slider{
    position: relative;
    display: inline-block;
}
.slider span{
    position: absolute;
    left: 50%;
    color: white;
    font-size: 20px;
    top: 50px;
}
.slider ul{
    position: absolute;
    left: 50%;
    color: white;
    font-size: 18px;
    top: 120px;
    color: #df6f15;
    list-style-type:none;
}
.slider ul li{
    margin-bottom: 10px;
}
.services{
    margin-left: 134px;
    padding-top: 5px;
}
.services ul{
    padding: 0;
}
.services ul li{
    margin-top: 7px;
    font-size: 10px;
}
.services ul li img{
    margin-right: 13px;
}
.content{
    margin-top: 30px;
    display: flex;
    gap: 50px;
    padding-top: 5px;
}
.content h1{
    margin-top: 0;
}
footer .container{
    width: 750px;
}
.footercontent{
    margin-top: 60px;
    height: 50px;
    background-color: gray;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footercontent ul{
    display: flex;
    gap: 5px;
    flex-direction: row;
    
}
.footercontent ul li {
    padding-right: 5px;
    border-right:1px solid #191919;
}
.footercontent ul li a{
    color: #191919;
}
.footercontent span{
    margin-left: 35px;
    margin-top: 5px;
}