.block1{
    background-color: #f5f5dc;
    height: 340px;
    width: 550px;
    margin: 0 auto;
    
}
h1{
    padding-left: 20px;
    padding-top: 10px;
}
b{
    margin-top: 130px;
    font-style: italic;
}
.selector{
    padding-left: 100px;
}
.block2{
    background-color: black;
    height: 340px;
    max-width: 550px;
    padding: 15px;
    margin-top: 40px;
}
.quad{
    background-color: aqua;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 40px;
}
.circle{
    background-color: #f5f5dc;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin: 0 auto;
    margin-top: 15px;
}