.border{
    border: 2px solid silver;
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
}
.container{
    padding: 25px;
    margin-left: 20px;
}
.box{
    background-color: #edeff5;
    padding: 20px;
    padding-left: 60px;
}